<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MarketConfiguration">
      <section name ="SECTION_MARKET_1" type="System.Configuration.DictionarySectionHandler"/>
      <section name ="SECTION_MARKET_2" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  <MarketConfiguration>
    <SECTION_MARKET_1>
      <add key="user"     value="testMarket1" />
      <add key="password" value="testMarket1" />
    </SECTION_MARKET_1>
    <SECTION_MARKET_2>
      <add key="user"     value="testMarket2" />
      <add key="password" value="testMarket2" />
      <add key="token"    value="testMarket2" />
    </SECTION_MARKET_2>
  </MarketConfiguration>
</configuration>